name: Xcode - Build Archive

on:
  push:
    tags:
      - 'v*.*.*'

env:
  MARKETING_VERSION: 0.0.0
  PATCH_VERSION: 0

jobs:
  build:
    name: Build sideloading package for TrollStore
    runs-on: macos-13

    steps:
      - name: Setup Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 15.1

      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Update version strings
        run: |
          export PATCH_VERSION=$(echo "${GITHUB_REF#refs/tags/v}" | cut -d. -f3)
          echo "PATCH_VERSION=${PATCH_VERSION}" >> $GITHUB_ENV
          echo "MARKETING_VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
          xcrun agvtool new-version -all "${PATCH_VERSION}"
          xcrun agvtool new-marketing-version "${GITHUB_REF#refs/tags/v}"

      - name: Build helper
        run: |
          xcodebuild clean build archive -scheme ReveilHelper -project Reveil.xcodeproj -archivePath ReveilHelper.xcarchive CODE_SIGNING_ALLOWED=NO | xcpretty && exit ${PIPESTATUS[0]}

      - name: Build
        run: |
          PATH=$PWD/ReveilHelper.xcarchive/Products/usr/local/bin:$PATH xcodebuild clean build archive -scheme Reveil -project Reveil.xcodeproj -sdk iphoneos -destination 'generic/platform=iOS' -archivePath Reveil CODE_SIGNING_ALLOWED=NO | xcpretty && exit ${PIPESTATUS[0]}

      - name: Package for sideloading
        run: |
          cd Reveil.xcarchive/Products/Applications
          codesign --remove-signature Reveil.app
          cd -
          cd Reveil.xcarchive/Products
          mv Applications Payload
          zip -qr Reveil_${{ env.MARKETING_VERSION }}.tipa Payload
          cd -
          mv Reveil.xcarchive/Products/Reveil_${{ env.MARKETING_VERSION }}.tipa .

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: Reveil_${{ env.MARKETING_VERSION }}
          path: Reveil.xcarchive

      - name: Upload release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.RELEASE_GITHUB_TOKEN }}
          body_path: CHANGELOG.md
          files: Reveil_${{ env.MARKETING_VERSION }}.tipa
